ITRefund_adf/pipeline/ITRefundPipeline.json
{
	"name": "ITRefundPipeline",
	"properties": {
		"activities": [
			{
				"name": "itrefundweb",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/dts/income_tax_refunds_issued?page[number]=1",
					"method": "GET"
				}
			},
			{
				"name": "itrefundloop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "itrefundweb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,6)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "itrefundcopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['record_date']"
											}
										},
										{
											"source": {
												"path": "['tax_refund_type']"
											}
										},
										{
											"source": {
												"path": "['tax_refund_type_desc']"
											}
										},
										{
											"source": {
												"path": "['tax_refund_today_amt']"
											}
										},
										{
											"source": {
												"path": "['tax_refund_mtd_amt']"
											}
										},
										{
											"source": {
												"path": "['tax_refund_fytd_amt']"
											}
										},
										{
											"source": {
												"path": "['table_nbr']"
											}
										},
										{
											"source": {
												"path": "['table_nm']"
											}
										},
										{
											"source": {
												"path": "['sub_table_name']"
											}
										},
										{
											"source": {
												"path": "['src_line_nbr']"
											}
										},
										{
											"source": {
												"path": "['record_fiscal_year']"
											}
										},
										{
											"source": {
												"path": "['record_fiscal_quarter']"
											}
										},
										{
											"source": {
												"path": "['record_calendar_year']"
											}
										},
										{
											"source": {
												"path": "['record_calendar_quarter']"
											}
										},
										{
											"source": {
												"path": "['record_calendar_month']"
											}
										},
										{
											"source": {
												"path": "['record_calendar_day']"
											}
										},
										{
											"source": {
												"path": "$['meta']['count']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['record_date']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['tax_refund_type']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['tax_refund_type_desc']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['tax_refund_today_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['tax_refund_mtd_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['tax_refund_fytd_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['table_nbr']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['table_nm']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['sub_table_name']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['src_line_nbr']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['record_fiscal_year']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['record_fiscal_quarter']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['record_calendar_year']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['record_calendar_quarter']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['record_calendar_month']"
											}
										},
										{
											"source": {
												"path": "$['meta']['labels']['record_calendar_day']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['record_date']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['tax_refund_type']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['tax_refund_type_desc']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['tax_refund_today_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['tax_refund_mtd_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['tax_refund_fytd_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['table_nbr']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['table_nm']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['sub_table_name']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['src_line_nbr']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['record_fiscal_year']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['record_fiscal_quarter']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['record_calendar_year']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['record_calendar_quarter']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['record_calendar_month']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataTypes']['record_calendar_day']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['record_date']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['tax_refund_type']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['tax_refund_type_desc']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['tax_refund_today_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['tax_refund_mtd_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['tax_refund_fytd_amt']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['table_nbr']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['table_nm']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['sub_table_name']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['src_line_nbr']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['record_fiscal_year']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['record_fiscal_quarter']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['record_calendar_year']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['record_calendar_quarter']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['record_calendar_month']"
											}
										},
										{
											"source": {
												"path": "$['meta']['dataFormats']['record_calendar_day']"
											}
										},
										{
											"source": {
												"path": "$['meta']['total-count']"
											}
										},
										{
											"source": {
												"path": "$['meta']['total-pages']"
											}
										},
										{
											"source": {
												"path": "$['links']['self']"
											}
										},
										{
											"source": {
												"path": "$['links']['first']"
											}
										},
										{
											"source": {
												"path": "$['links']['prev']"
											}
										},
										{
											"source": {
												"path": "$['links']['next']"
											}
										},
										{
											"source": {
												"path": "$['links']['last']"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "itrefundrest",
									"type": "DatasetReference",
									"parameters": {
										"param": {
											"value": "?page[number]=@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "itrefundjson",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "itrefund@{item()}.json",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}