ITRefund_adf/pipeline/ITRefundPipeline.json
{
	"name": "ITRefundPipeline",
	"properties": {
		"activities": [
			{
				"name": "itrefundweb",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/dts/income_tax_refunds_issued?page[number]=1",
					"method": "GET"
				}
			},
			{
				"name": "itrefundloop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "itrefundweb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,6)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "itrefundcopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['record_date']"
											},
											"sink": {
												"name": "data'][0]['record_date"
											}
										},
										{
											"source": {
												"path": "['tax_refund_type']"
											},
											"sink": {
												"name": "data'][0]['tax_refund_type"
											}
										},
										{
											"source": {
												"path": "['tax_refund_type_desc']"
											},
											"sink": {
												"name": "data'][0]['tax_refund_type_desc"
											}
										},
										{
											"source": {
												"path": "['tax_refund_today_amt']"
											},
											"sink": {
												"name": "data'][0]['tax_refund_today_amt"
											}
										},
										{
											"source": {
												"path": "['tax_refund_mtd_amt']"
											},
											"sink": {
												"name": "data'][0]['tax_refund_mtd_amt"
											}
										},
										{
											"source": {
												"path": "['tax_refund_fytd_amt']"
											},
											"sink": {
												"name": "data'][0]['tax_refund_fytd_amt"
											}
										},
										{
											"source": {
												"path": "['table_nbr']"
											},
											"sink": {
												"name": "data'][0]['table_nbr"
											}
										},
										{
											"source": {
												"path": "['table_nm']"
											},
											"sink": {
												"name": "data'][0]['table_nm"
											}
										},
										{
											"source": {
												"path": "['sub_table_name']"
											},
											"sink": {
												"name": "data'][0]['sub_table_name"
											}
										},
										{
											"source": {
												"path": "['src_line_nbr']"
											},
											"sink": {
												"name": "data'][0]['src_line_nbr"
											}
										},
										{
											"source": {
												"path": "['record_fiscal_year']"
											},
											"sink": {
												"name": "data'][0]['record_fiscal_year"
											}
										},
										{
											"source": {
												"path": "['record_fiscal_quarter']"
											},
											"sink": {
												"name": "data'][0]['record_fiscal_quarter"
											}
										},
										{
											"source": {
												"path": "['record_calendar_year']"
											},
											"sink": {
												"name": "data'][0]['record_calendar_year"
											}
										},
										{
											"source": {
												"path": "['record_calendar_quarter']"
											},
											"sink": {
												"name": "data'][0]['record_calendar_quarter"
											}
										},
										{
											"source": {
												"path": "['record_calendar_month']"
											},
											"sink": {
												"name": "data'][0]['record_calendar_month"
											}
										},
										{
											"source": {
												"path": "['record_calendar_day']"
											},
											"sink": {
												"name": "data'][0]['record_calendar_day"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "itrefundrest",
									"type": "DatasetReference",
									"parameters": {
										"param": {
											"value": "?page[number]=@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "itrefundcsv",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}