ITRefund_adf/pipeline/ITRefundPipeline.json
{
	"name": "ITRefundPipeline",
	"properties": {
		"activities": [
			{
				"name": "itrefundweb",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/dts/income_tax_refunds_issued?page[number]=1",
					"method": "GET"
				}
			},
			{
				"name": "itrefundloop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "itrefundweb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,activity('itrefundweb').output.total-pages)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "itrefundcopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"outputs": [
								{
									"referenceName": "itrefundjson",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}